* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}
body {
    background-color: black;
}
h1 {
    text-align: center;
    color: #818CF8;
    margin-top: 50px;
    font-size: 50px;
}
h1 span {
    color: #fff;
}
.game-wrapper {
    position: relative;
    display: inline-block;
    transform: translate(-50%);
    left: 50%;
}
.game-container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
}
.game-container .color-btns {
    height: 100%;
    width: 100%;
    border: none;
    transition: 0.2s all ease-in-out;
}
.color-btns:active {
    transform: scale(0.95);
    opacity: 0.7;
    transition: 0.1s all ease-in-out;
}
.color-btns:disabled {
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
    pointer-events: none;
}
#red {
    background-color: #750000;
    border: none;
    border-top-left-radius: 30%;
}
#red:active {
    box-shadow: 0 0 20px #F87171;
}
#blue {
    background-color: #000075;
    border: none;
    border-top-right-radius: 30%;
}
#blue:active {
    box-shadow: 0 0 20px #60A5FA;
}
#yellow {
    background-color: #A3A300;
    border: none;
    border-bottom-left-radius: 30%;
}
#yellow:active {
    box-shadow: 0 0 20px #FACC15;
}
#green {
    background-color: #008000;
    border: none;
    border-bottom-right-radius: 30%;
}
#green:active {
    box-shadow: 0 0 20px #4ADE80;
}
.active {
    scale: 1.01;
    z-index: 999;
    opacity: 1;
    filter: brightness(1.6);
}

.game-wrapper .game-info {
    height: 250px;
    width: 250px;
    background-color: #1F2937;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    border-radius: 50%;
    border: 5px solid #4F46E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
.game-info h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.game-info span {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.game-info #start {
    padding: 0.65rem 1.1rem;
    font-size: 1.25rem;
    border-radius: 9999px;
    border: none;
    background-color: #4F46E5;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}
#start:disabled {
    cursor: not-allowed;
    scale: none;
}
#start:hover {
    background-color: #6366F1;
    scale: 1.05;
}